*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;

}

.header{
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

    .menu{
        background: grey;
        display: flex;
        flex-flow: column nowrap;
        height: 100px;
        align-items: center;

    }

        .logo{
            background: red;
            flex: 1 1 auto;
        }

        .nav{
            background: red;
            flex: 5 1 auto;

        }

        .social{
            background: red;
            flex: 1 1 auto;
        }
    
     .banner{
        background: orange;

    }
        h1{
            background: yellow;
        }

.section{
    background: #000;
    display: flex;
}
    .articles{
        background: blue;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article{
            background: blueviolet;
            flex: 1 1 40%;
        }
        .navega{
            background: green;
            flex: 1 1 100%;
        }
    .aside{
        background: rosybrown;
        flex: 1 1 auto;

    }
        .publicitat{
            background: yellowgreen;
        }

.footer{
    background: #000;
    display: flex;
    justify-content: center;

}
    .pie{
        background: brown;
        width: 300px;
    }
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;

    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articles{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}
        

