*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.header {
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    grid-template-columns: 100px minmax(100px,3fr) 1fr;
    gap: 20px;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px;
    background-color: #043941;
    border: black;
}

.header div {
    padding: 10px;
    background-color: #b51111;
    flex: 1;
    margin: 5px;
}

.nav {
    flex: 1;
}

.banner div{
    background-color: #f8c80a;
    padding: 20px;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
   
}

.banner {
    background-color: orange;
    background-repeat: calc(100% - 10px);
    border: black;
    padding: 20px;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.content {
    display: grid;
    grid-template-rows: 300px, 100px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    background-color: #2f2f4f;
}

.articles {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-self: auto;
    width: calc(50% - 10px);
}

.article {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 1fr);
    background-color: #0b5e95;
    padding: 20px;
    color: black;
    justify-items: start;
    width: calc(50% - 10px);
}

.navega {
    background-color: #8ab6d6;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    flex: 1 100%;
    color: black;
    grid-column: span 3;
}

.aside{
    display: grid;
    grid-area: 5 / 3 / 6 / 4;
    background-color: #ea3e3e;
    padding: 20px;
    text-align: left;
    flex: 1 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 20px;
    
}

.publicitat {
    background-color: #f6bb0b;
    color: black;
    padding: 20px;
    text-align: left;
}

.footer {
    background-color: #fdfd96;
    border: black;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}

